.Rproj.user
.Rhistory
.RData
.Ruserdata
.bashvars
*.bam
*.sam
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.fasta
*.fa
*.gff3
*.gtf
*.gz
*.ht2
input/hisat/Montipora_capitata_HIv3-hisat2-indices.tar.gz
input/genome/Montipora_capitata_HIv3.genes.gtf
*universe_simMatrix.csv